/*General --------------------------------------------------------------*/

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

h1, h2, h3, h4, h5, p {line-height: 1.8;}

h1 { font-size: 2.074em; color: #424242; font-weight: 700;}
h2 { font-size: 1.728em; }
h3 { font-size: 1.44em; }
h4 { font-size: 1.2em }
h5 { font-size: 1em; }
p { font-size: 1em;}


/*Fonts --------------------------------------------------------------*/
body {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: .02em;
}

h4 {
  margin-top: 2em;
}

.intro h1 {
  font-size: 2em;
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

.header {
  color: #4A4A4A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
}

.primary, .case-study-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #424242;
  letter-spacing: 0.025em;
}

.case-study-title{
  font-size: 1.2em;
}

.secondary {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666;
}

.caption {
  font-size: 80%;
  text-align: center;
}

.underline {
  border-bottom: 1px solid #E78E8E;
  padding-bottom: 2px;
}

a.underline:hover {
  color: #E78E8E!important;
}

a {
  text-decoration:none !important;
  color: inherit !important;
  -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
  color: #E78E8E;
  transition: color 0.3s ease;
}

#menu li.active{
  color: #E78E8E;
  font-weight: 600;
}

ol {
  margin-left: 2em;
  margin-top: 1em;
}

ul {
  list-style-type: disc;
  margin-left: 5%;
}

.highlight{
  color: #424242;
  background-color: rgba(231,142,142, 0.5);
}

/*Animation --------------------------------------------------------------*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

 @-webkit-keyframes fadeInUp {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
         
@keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%,0);}
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0,0,0);}
}

.fadeInUp{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
         
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*Navigation --------------------------------------------------------------*/

#elaine-logo{
  position: relative;
  width: 20%;
  padding: 1.5em;
  z-index: 9999;
}

#menu li {
  font-family:'Poppins', 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-weight: 400;
  color: #424242;
}

.intro{
  padding: 10%;
  width: 80%;
}

/*Hamburger Menu --------------------------------------------------------------*/

.fixed-top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.overlay{
  display: block;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  color: #666666;
  padding: 30% 0;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}

#menu{
  display: none;
}

#hamburger {
  margin: 0;
  padding: 1.5em;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.main-item {
  width:30px;
  height:30px;
  position:relative;
  z-index: 9999;
}

.line {
  position: absolute;
  height: 5px;
  width:100%;
  background: #666;
  border-radius:10px;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.25s;
}

.line01 {top:19%;}
.line02 {top:49%;}
.line03 {top:79%;}

.menu.close .line01 {transform:rotate(45deg); top:49%;}
.menu.close .line02, .menu.close .line03 {transform:rotate(-45deg); top:49%;}

.social-media-icon{
  padding: 1em 0.5em;
  color: #666666;
  cursor: pointer;
}

.social-media-icon:hover{
  color: #E78E8E;
}

.fa-2x{
  font-size: 1.75em !important;
}


/*Project Cards --------------------------------------------------------------*/

.project-container {
  padding: 20px;
  width: 80%;
  margin: auto; 
}

img.card{
  width: 100%;
  border-radius:16px 16px 0 0;
}

.card-style {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card-style:hover {top: -12px;}

.description{
   padding: 1em 1.5em;
}

.casestudy-tag, .casestudy-cta{
  display: inline-block;
  margin-bottom: 0.5em;
  margin-left: 0.15em;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  background-color: #ededed;
  font-weight: 500;
}

.casestudy-tag:nth-child(2){
  margin-left: 0.25em;
}

.box-shadow {
    box-shadow: 0 20px 32px rgba(0,0,0,.09);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0px!important;
}

.box-shadow:hover {
    box-shadow: 0px 20px 32px 2px rgba(51,51,51,0.2);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-up {
    top: 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-up:hover {
    top: -20px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.work-in-progress {
    display: visible;
    background: white;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
    border-radius: 16px;
  }

.work-in-progress:hover{
  opacity: 0.9;
}

.work-in-progress-text{
  text-align: center;
  padding-top: 30%;
  font-size: 1.5em;
}

/*Individual Case Studies --------------------------------------------------------------*/

.responsive-banner-travel {background-image: url(../images/travel-inspo/banner.png);}
.responsive-banner-cat {background-image: url(../images/teamcat/banner.png);}
.responsive-banner-travelapp {background-image: url(../images/travel-app/banner.png);}
.responsive-banner-fruitails {background-image: url(../images/fruitails/banner.png);}
.responsive-banner-ds {background-image: url(../images/DS/banner.png);}
.responsive-banner-brandkit {background-image: url(../images/brandkit/banner2.png);}

.responsive-banner{
  width:100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.casestudy-cta{
  background-color: #E78E8E;
  color: white;
}

.back-arrow{
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 50%;
}

.back-arrow:hover {opacity:0.7;}

iframe {margin-left: 25%;}

.section{
  padding: 1em;
  margin: 0 auto;
}

.section img{
  width: 100%;
  margin-top: 1.5em;
}

.content{
  margin-bottom: 2em;
}

/*About Me --------------------------------------------------------------*/

.about-me {
  width: 85%;
  padding-top: 1.5em;
  margin: 0 auto;
  text-align: left;
}

.about-me p {
  padding-top: 1em;
}

.about-picture {width: 100%;}

.contact-info p {
  padding: 0;
}


/*Media Queries --------------------------------------------------------------*/

/*Small - Hamburger and 1 project*/
@media (min-width: 600px) {

  #elaine-logo{ width: 15%; }

  .intro h1 {font-size: 2.5em;}

  .project-container {width:60%;}
}

/*Medium - Show Nav and 2 projects*/
@media (min-width: 760px) {

  #hamburger{
    display: none;
  }

  #elaine-logo{
    position: absolute;
    width: 8%;
    top: 2.5em;
    left: 6em;
  }

  ul#menu{
    position: absolute;
    top: 3.5em;
    right: 6em;
  }

  #menu{
    display: flex;
    justify-content: flex-end;
  }

  #menu li {
    padding: 0.75em;
  }

  #overlay{
    display: block;
    height: 10%;
  }

  .intro{
    text-align: center;
    background-color: white;
    padding: 14em 0;
    margin: 0 auto;
    width: 60%;
  }

  img.card{
    width: 100%;
    box-shadow: none;
  }

  .project-container {width:90%;}

  .card-style {
    margin: 2.2%;
    width: 45%;
  }

  .section{ width: 60%;}

  .about-me h2 {font-size: 1.75em;}
  .about-me {width: 70%; margin-top: 8em;}
  .about-picture {width: 80%; margin: 0 10%;;}
}

/*Large - Desktop size 2 project*/
@media (min-width: 960px) {

  .intro h1 {font-size: 3em;}

  #elaine-logo{
    width: 8%;
    top: 2.5em;
    left: 6em;
  }

  .project-container{
    max-width: 1500px;
    width: 70%;
    margin: 0 auto;
  }

  .card-style {
    margin: 1.66%;
  }

  .section{
    width: 50%;
  }

  .about-me h2 {text-align: center; font-size: 2.2em;}
  .about-me{margin-top: 10em;}
  .about-picture{width: 60%; margin: 0 20%;}
}

/*X-Large*/
@media (min-width: 1024px) {
  .about-me{
    width: 55%;
  }

}

@media (min-width: 600px) and (orientation: landscape){
}

/*Footer --------------------------------------------------------------*/

.footer {
    text-align: center;
    margin-top: 5em;
    padding: 5em 2em;
    background-color: #f7f7f7;
}

.footer li {
  display: inline-block;
  padding: 0;
  opacity: 0.4;
}

#footer-active {
  opacity: 1;
  font-weight: 600;
}

/*Loading Screen--------------------------------------------------------------*/
