/*******************************
GENERAL
*******************************/

body {
    width:100%;
    font-family: helvetica, verdana;
}

section {
  text-align: center;
  font-size: 16px;
  padding: 20px 30px 20px 20px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

img {
  max-width:100%;
}

h3 {
  margin: 0 0 1em 0;
}


/*******************************
NAVIGATION
*******************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 28px 0;
  background-color: #292929;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

nav ul li a{
    text-decoration: none;
    float: right;
    color: grey;
    font-size: 12px;
}

nav ul li a:hover {
  color: white;
  background-color: palevioletred;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background .2s linear, border-radius 1s ease-in 1s;
}

/*******************************
HEADING
*******************************/

header {
  float:left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: font-family: 'Roboto Condensed', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
}

h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin: -5px 0 0;  
}



/*******************************
FOOTER
*******************************/

footer {
  font-size: 0.75;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/*******************************
PAGE: PORTFOLIO
*******************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75;
  color: #bdc3c7;
}



/*******************************
PAGE: ABOUT
*******************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}



/*******************************
PAGE: CONTACT
*******************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/*******************************
COLOURS
*******************************/

/* Site Body */
body {
  background-color: #fff;
  color: #999;
}

/* Grey Header */
header {
  background: #292929;
  border-color: palevioletred;
}

/* nav background on mobile */
nav {
  background: #292929;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* Links */
a {
  color: #6ab47b; 
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected link */
nav a.selected, nav a:hover {
  color: palevioletred;
}