/*New Project Style --------------------------------------------------------------*/

h1, h2, h3 {
  font-family: 'Poppins';
}

strong{
  color:  #424242;
}

hr{
  width: 60px;
  margin-bottom: 24px;
}

.casestudy-title {
  text-align: center;
}

.three-col div{
  padding-bottom: 24px;
}

.two-col-33 {
  max-width: 80%;
  padding: 16px;
}

.two-col img{
  width:  100%;
}

.img-fullscreen{
  width: 100%;
}

.img-50{
  width: 50%;
}

.section-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;
  column-gap: 24px;
}

.dot {
  width: 4px;
  height:  4px;
  background-color: #424242;
}

.video-features {
  width: 90%;
  margin: 24px 5%;
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 0 32px rgba(0,0,0,.09);
}

.feature-section {
  background: #F8F7F6;
  padding: 4em 16px;
  margin: 0 auto;
}

.feature-section-content {
  width: 90%;
}

.design-process-title{
  margin-top: 2%;
  text-align: center;
}

.avatar{
  width: 60px;
  height: 60px;
}

.avatar-text{
  display: flex;
  column-gap: 24px;
}

.DTS_card {
  padding: 24px;
  margin-bottom: 1em;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  top: 0;
  box-shadow: 0 0 32px rgba(0,0,0,.09);
}

.DTS_card h4{
  text-align: center;
  font-weight: 600;
  margin:  0.5em 0;
}

.DTS_card p, .Inspo_card p, .Inspo_card li {
  font-size: 14px;
}

.DTS_card img {
  margin-left: 50%;
}

.Inspo_card {
  background-color: #f8f7f6;
  padding: 24px;
  margin-bottom: 1em;
/*  border: 1px solid lightgray;*/
  border-radius: 4px;
}

.top-space {
  margin-top: 2em;
}

.approach {
  display: flex;
  background-color: #2F3742;
  margin: 0 auto;
  padding: 24px;
  column-gap: 40px;
}

.approach div {
  width: 33%;
}

.approach p, .approach ul {
  font-size: 0.75em;
  color: #ffffff;
}

.approach strong {
  color: #ffffff;
}


#resource_library {
  width: 90%;
}

/*Media Queries*/

/*Small - Hamburger and 1 project*/
@media (min-width: 600px) {
  display: flex;

}

/*Medium - Show Nav and 2 projects*/
@media (min-width: 760px) {

  .casestudy-title h2{
    width: 80%;
    margin: 0 auto;
  }

  #nav-top{
    height: 120px;
  }

  .two-col {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
  }

  .two-col-33 {
    max-width: 33%;
    margin:  auto;
    padding: 40px;
  }

  .two-col-50 div {
    max-width: 50%;
  }

  #reverse{
    display: flex;
    flex-direction: row-reverse;
  }

  .feature-section-content {
    width: 60%;
    margin: 0 auto;
  }

}

/*Large - Desktop size 2 project*/
@media (min-width: 960px) {

  .three-col{
    display: flex;
    justify-content: space-between;
  }

  .card-row {
    display: flex;
    column-gap: 24px;
  }

  .DTS_card {
    width: 50%;
    margin-bottom: 24px;
  }

  .Inspo_card {
    width: 33%;
  }

  #resource_library {
    width: 50%;
  }


}