html {
	font: normal 100%/1.5 'Lato', Arial, sans-serif; /* 1.200 Minor Third*/
	line-height: 1.5;
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height:30px;
}

.header {
    font-family: 'Montserrat', sans-serif;
/*    font-weight: 300;*/
    font-size: 16px;
}

.primary {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height:30px;
    color: #333;
}

.secondary {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height:30px;
    color: #999;
}


a:link { color: black; text-decoration: none;}
a:visited { color: black; }
a.greyfont:link{ color: #d3d3d3; }
a.greyfont:visited{ color: #d3d3d3; }
a:hover, a.greyfont:hover{
	opacity: 1;
	color: #e78e8e;
	-webkit-transition:all 0.01s linear;
    -moz-transition:all 0.01s linear;
    -o-transition:all 0.01s linear;
    transition:all 0.01s linear;
}

h1, h2, h3, h4, h5, h6, p, a, li{
	line-height: 1.5;
}

h1 { font-size: 2.074em; }
h2 { font-size: 1.728em; }
h3 { font-size: 1.44em; }
h4 { font-size: 1.2em }
h5 { font-size: 1em; }

.content{
	padding: 1em;
}

.color{
	color: #e78e8e;
/*	color: #00a99d;*/
}

hr{
	border-top: none;
}

.underline{
	margin-top: 0;
	border-top: 3px solid #e78e8e;
	border-bottom: none;
}

.hidden{
	display: none;
}

/*TAG*/

.tag{
    padding: .5em;
    margin: .25em;
    display: inline-block;
    border-radius: 5px;
}

/*METERS*/

/*.progress{
	display: flex;
	margin: 0;
	padding: 0;
}

.meter { 
	height: .5em;
	position: relative;
	background: #d3d3d3;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	margin: 0 auto;
	overflow: hidden;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e78e8e;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  -webkit-transform: skew(-30deg);
       -moz-transform: skew(-30deg);
         -o-transform: skew(-30deg);
*/  /*box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);*/
 /* position: relative;
  overflow: hidden;
}

@keyframes expandWidth {
   0% { width: 0; }
   100% { width: 1; }
}

.meter > span{
	animation: expandWidth 1s ease-in;
}*/

.language{
	display: flex;
	margin-left: 2em;
}

.circles{
	display: flex;
	margin-right: 3em;
}

.circle{
	background-color: #e78e8e;
	border-radius: 50%;
	width: 15px;
	height: 15px; 
	margin: .25em .5em;
}

.lightgrey { background-color: #d3d3d3; }

/*Media Queries*/

/*SMALL*/
@media (min-width: 300px) {
	html { background: white; }

	p { font-size: 1.2em; }

	#profile{
		width: 50%;
		margin-left: 25%;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.grey{
		background-color: #666666;
	}

	header{
		margin: 2em 1em 1em;
		text-align: center;
	}

	.content{
		/*background-color: #d3d3d3;*/
		margin: 2em auto;
	}

	.item{
		margin-bottom: 1em;
	}

	.icon{
		width: 60%;
		margin: 1em;
		opacity: .7;
	}

	.icon:hover{
		opacity: 1; 
	}

	.social{
		display: flex;
		justify-content: center;
		text-align: center;
		margin-bottom: 20%;
	}

	.url{
		display: none;
  		opacity: 0;
	  	-webkit-transition: opacity 600ms, visibility 600ms;
	  	transition: opacity 600ms, visibility 600ms;
	}

	.label{
		width: 45%;
		font-size: 1em;
		text-align: right;
		margin-top: .2em;
	}

	.meter{
		height: .75em;
		margin: .5em auto;
		width: 50%;
	}

	.tag{ background-color: #f2f2f2; }
}


/*MEDIUM*/
@media (min-width: 600px) {
/*  html { background: blue; }*/

	p { font-size: 1em; }

  	#profile{
		width: 25%;
		margin-left: 37.5%;
	}

	#skills{
		margin-left: 25%;
	}

	.label{
		width: 40%;
		margin-top: .4em;
	}

	.meter{
		height: .75em;
		margin: .75em 2em 0 1em;
		max-width: 40%;
	}
}

/*LARGE*/
@media (min-width: 960px) {
/*  html { background: grey; }*/
  	#profile{
		width: 15%;
		margin-left: 42.5%;
	}

	header{
		margin: 0;
	}

	#header{
		position: absolute;
		top: 10%;
		left: 12%;
		text-align: left;
	}

	#whitefont{
		color: white;
	}

	.icon{
		width: 50%;
		margin: 0;
		padding: 0;
		opacity: 0.7;
	}

	#socialmedia{
		display: flex;
		position: absolute;
		justify-content: flex-end;
		top: 5%;
		right: 10%;
	}

	.url{
		display: list-item;
  		opacity: 1;
  		margin-top: .5em;
	}

	li.full-link{
		text-align: right;
		width: 100%;
		margin: 0;
		padding: .25em;
		color: #d3d3d3;
	}

	.social{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	#container{
		display: flex;
		flex-direction: row;
	}

	#left{
		width: 50%;
		padding-left: 10%;
		margin-top: 1em;
	}

	.content{
		margin: 0 0.25em auto;
	}

	#right{
		background-color: #f2f2f2;
		width: 25%;
		padding-right: 1.5em;
		padding-left: 1.5em;
		margin: 0;
	}

	.underline{
		border-top: 4px solid #e78e8e;
	}

	p{
		width: 95%;
	}

	.flex-container {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		margin-right: 10%;
	}

	section.content.flex-item{
		padding: 0;
		margin: 0;
	}

	/*ordering divs*/
	.flex-item:nth-of-type(1) { order: 2; }
	.flex-item:nth-of-type(2) { order: 3; }
	.flex-item:nth-of-type(3) { order: 1; }
	.flex-item:nth-of-type(4) { order: 4; }
	.flex-item:nth-of-type(5) { order: 5; }

	#skills{
		margin: 0;
		width: 90%;
	}

	.hidden{
		display: inline;
	}

	.line{
		display: none;
	}

	.label{
		font-size: 0.85em;
		width: 45%;
		margin-top: .7em;
	}

	.meter{
		margin: 1em 0 .5em .5em;
		height: .5em;
	}

	.tag{ background-color: white; }
}

@media (min-width: 600px) and (orientation: landscape){
	#grey{
		height: 35%;
	}

	#profile{
		width: 15%;
		margin-left: 42.5%;
		margin-top: 0;
	}

	header{
		margin: .5em 0;
	}

	ul.social{
		margin: 0;
	}

	#skills{
		margin-left: 15%;
		width: 70%;
	}
}

*{
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}